{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<p>
    This simple web application is a practical example of Django. The design and the idea is not mine, it is from the YouTube channel <a href="https://www.youtube.com/watch?v=I0m92SBfDI8&list=LL&index=1" target="_blank">Fazt Code</a>.
    <br/>
    Who am I? I'm a Software Engineer Student learning web technologies like JavaScript, TypeScript, Angular, jQuery, Django and other technologies like Java and Git. You can see my GitHub profile in the following link: <a href="https://github.com/olmosdev" target="_blank">olmosdev</a>.
    <br/>
    What is the difference between this version and the original? I just added an extra option that allows you to get Asian characters (more special characters).
</p>

{% endblock %}
